################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/StableGPT/WebApp.Blazor.Server/appsettings.Development.json
